<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Хмарні рішення для аналітики та звітності</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'styles/styles.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.png') }}" type="image/x-icon">
        <!-- <link rel="stylesheet" href="styles.css"> -->
    </head>
    <body>
        <div class="header">
            <div class="header-left">
                <a class="header-ks-logo" href="https://kyivstar.ua/uk/business" target="_blank">
                    <img src="https://cdn.kyivstar.ua/sites/all/themes/kyivstar/build/images/header-logo-dark.svg" alt="">
                </a>

                <div class="nav-wrapper">
                    <div class="navlink-wrapper active-navlink">
                        <a href="/">Хмарні рішення для аналітики та звітності</a>
                    </div>   

                    <div class="navlink-wrapper">
                        <a href="projects">Приклади рішень</a>    
                    </div>   
                </div>  
            </div>
            
            <div class="header-right">
                <a class="ms-logo" href="https://azure.microsoft.com/en-us/" target="_blank">
                    <img src="static/img/Azure_Logo.png" alt="">
                </a>
            </div>

        </div>


        <div class="video-wrapper">
            <video class="top-video" loop="" muted="" autoplay="" width="100%" height="400">
                <source src="static/img/videos/video.mp4" type="video/mp4">
            </video>
    
            <div class="video-title">
                <h1>Хмарні рішення для аналітики та звітності </h1>
                
            </div>

        </div>


        <div class="images-wrapper">

            <div class="image-background" style="background-color: #1d2b3b;">
                <div class="image">
                    <img src="static/img/Cloud Enterprise Solutions_Kyivstar_slide1.png" >
                </div>
            </div>

            <div class="image-background" style="background-color: #4A5257;">
                <div class="image">
                    <img src="static/img/Cloud Enterprise Solutions_Kyivstar_slide22.png" >
                </div>
            </div>

            <div class="image-background" style="background-color: #273649;">
                <div class="image">
                    <img src="static/img/Cloud Enterprise Solutions_Kyivstar_slide33.png" >
                </div>
            </div>


            <div class="image-background" style="background-color: #2D435E;">
                <div class="image">
                    <img src="static/img/Cloud Enterprise Solutions_Kyivstar_slide44.png" >
                </div>
            </div>

            <div class="image-background" style="background-color: #1C2C3C;">
                <div class="image">
                    <img src="static/img/Cloud Enterprise Solutions_Kyivstar_slide5.png" >
                </div>
            </div>

            <div class="image-background" style="background-color: #405F82;">
                <div class="image">
                    <img src="static/img/Cloud Enterprise Solutions_Kyivstar_slide66.png" >
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer_top">
                <a class="footer_logo " href="https://kyivstar.ua/uk/business" target="_blank" >
                    <img class="footer-logo__img" src="https://cdn.kyivstar.ua/sites/all/themes/kyivstar_b2b/build/assets/svg/ks-business-logo-white.svg" alt="">
                </a>

                <div class="footer_right">
                    <div class="navlink-wrapper_footer">
                        <a href="projects">Приклади рішень</a>
                    </div>

                </div>
            </div>
            <div class="footer_bottom">

                <div class="footer__copyright">
                    © 1997–2021 ПрАТ «Київстар». Всі права захищено. Використання матеріалів цього сайту можливе тільки за умови попередньої письмової згоди «Київстар».
                 </div>

            </div>

        </div>

    
    </body>
</html>